body {
    background-color: #e9dece;
    }
    
    h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15em;
    color: rgb(37, 35, 35);
    text-align: left;
    padding-bottom: 30px;
    margin-left: 40%;
    }
    
    h2 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    color: rgb(37, 35, 35);
    margin-left: 20%;
    }
    
    h3 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    color: rgb(37, 35, 35);
    margin-left: 20%;
    
    }
    
    p {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(37, 35, 35);
    
    }
    
    .center-line {
    position: absolute;
    top: 200;
    bottom: -4420;
    left: 31%;
    width: 5px;
    background-color: rgb(233, 13, 13);
    transform: translateX(-50%);
    }
    
  