* {margin: 0; padding: 0;}

#wrapper {
    width: 90%;
    margin: auto;
    }

img {
    width: 20%;
    height: 200%;
}

.columns {float:left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.clear-left {
    clear: left;
}

h1 { 
    color: #ff00e6 ;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    line-height: 150%;
    font-weight: 20%;
}

* { 
    color: antiquewhite;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 100%;
    font-style: normal;
}

body {
        background-color: #2b1a04;
        background-image: url("Basketball.png");
        background-repeat:repeat-y;
        background-size: 10%;
        background-position-x: right;
}

ul#mainnav {
            list-style-type:decimal;
}

#McKennaSaltonBio {
    font-size: .8em;
    width: 900px;
    height: 150px;
    } 

a:link { color: rgb(161, 222, 255); }
* {padding: .2%;}

a:visited { color: blue;}
a:hover { color: chartreuse;}

footer { 
        text-decoration: blink;
        text-transform: uppercase;
        color: #ff00e6;
        background-image: url("BurstPattern.jpg");
    }

    @media only screen and (max-width: 480px) {} /* smaller than mobile
*/

#wrapper {
    width: 80%;
    margin: auto;
    }

    .column {
        width: 33.33%;
        float: left;
        margin: 10%;
        }

        @media only screen and (max-width: 480px) {
            .column {
            width: 100%;
            float: left;
            margin: 0%
            }}